/* ======================== CSS file for blogs.html ======================== */
/* ======================== CSS file for events.html ======================== */
body {
    font-family: "Bentham", serif;
    background-color: #07303e;
    color: white;
}

* {
    margin: 0;
    padding: 0;
}

/* NAVIGATION BAR GOES HERE!!!! */
/* Hide the dropdown by default */
.dropdown-content {
    display: none;
    position: absolute;
    /* background-color: #f9f9f9; */
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    min-width: 160px;
    z-index: 1;
}

/* Style the individual dropdown items */
.dropdown-content li {
    padding: 10px;
}

/* Show the dropdown when hovering over the "Event" link */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ff7b1b;
    border-radius: 10px;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/* -------------*/
.logo {
    margin: 40px 20px 20px 200px;
    font-size: 30px;
}

.nav-container {
    position: absolute;
    top: 0;
    /* Place the nav bar at the top of the viewport */
    right: 170px;
    /* Place the nav bar at the right edge of the viewport */
    padding: 20px;
    /* Add some padding to the nav items */
    margin-top: 50px;
}

.nav-container ul {
    list-style-type: none;
    padding: 0;
}

.nav-list :hover {
    padding-bottom: 10px;
    border-bottom: 2px solid #ff7b1b;
}

.nav-list {
    display: inline;
    /* Display list items in a horizontal line */
    margin-right: 50px;
    /* Add spacing between list items */
}

.nav-list a {
    text-decoration: none;
    color: #fff;
    /* Set link color to white */
}

.nav-container button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    margin-left: 20px;
}

.nav-container button:hover {
    background-color: #ff7b1b;
}

/* NAVIGATION BAR ENDS HERE!!!! */

form {
    margin: 0;
    padding: 0;
    margin: 20px auto;
}

.coming-soon {
    max-width: 75%;
    margin: 150px auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 80px;
    letter-spacing: 16px;
}

.coming-soon p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin-top: 50px;
}

input[type="email"] {
    width: 500px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    width: 130px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    background-color: #ff7b1b;
    color: #fff;
}