/* ======================== CSS file for events.html ======================== */
body {
    font-family: 'Bentham', serif;
    background-color: #07303e;
    color: white;
}

* {
    margin: 0;
    padding: 0;
}

/* NAVIGATION BAR GOES HERE!!!! */
/* NAVIGATION BAR ENDS HERE!!!! */

/* UPCOMING EVENT GOES HERE!!!! */
/* UPCOMING EVENT ENDS HERE!!!!  */

/* LATEST EVENTS GOES HERE!!!! */
.event_page{
    width: Hug (1,552px);
    height: Hug (737px);
    gap: 64px
}

.latest-events {
    font-family: Space Grotesk;
    font-size: 48px;
    font-weight: 500;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

.section1 {
    width: Hug (370px);
	height: Hug (612px);
	padding: 10px;
	gap: 10px;
}
     
img {
	width: 350px;
	height: 265px;
	border-radius: 19.59px 19.59px 0px 0px;
}

.Tech{
    width: Fill (350px);
	height: Hug (36px);
	gap: 89px;
}
	
time{
	font-family: Space Grotesk;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: right;
	color: #FFFFFF;
}

button{
	width: Hug (53px);
	height: Hug (36px);
	padding: 8px;
	border-radius: 32px;
	gap: 10px;
	background:#FF7B1B
}
    
.Static_Website_Project{
    width: Hug (370px);
    height: Hug (612px);
    padding: 10px;
    gap: 10px
}

.Explore_Highlights{
    width: 370px;
    height: 612px;
    padding: 10px;
    overflow: hidden;
    position: relative;
    Gap:10px
}
/* LATEST EVENT ENDS HERE!!!! */

/* PAST EVENTS GOES HERE!!!! */
.past-events h3 {
    font-size: 48px;
    text-align: center;
    padding: 24px 0px
}

.swiper_container {
    display: flex;
    flex-wrap:nowrap; 
    justify-content: center
}

.card {
    width: 320px; 
    height: 320px; 
    padding: 20px;
    text-align: left;
    transition: transform 0.3s
}

.card img {
    width: 320px
}

.card:hover {
    transform: scale(1.1)
}

.card_info {
    text-align: left;
    font-size: 16px;
    color: #E6DFF3
}

.card_title {
    font-size: 24px;
    padding: 8px 0px
}

a {
    text-decoration: none;
    color: white
}

/* button */
.button {
    background-color: #FF7B1B;
    padding: 16px;
    border-radius: 24px; 
    color: white;
    text-align: center;
    width: 80px;
    height: 20px;
    margin-top: 32px
}
/* PAST EVENT ENDS HERE!!!! */
