/* ======================== CSS file for events.html ======================== */
body {
    font-family: 'Bentham', serif;
    background-color: #07303e;
    color: white;
}

* {
    margin: 0;
    padding: 0;
}

/* NAVIGATION BAR GOES HERE!!!! */
/* NAVIGATION BAR ENDS HERE!!!! */

/* UPCOMING EVENT GOES HERE!!!! */
/* UPCOMING EVENT ENDS HERE!!!!  */

/* LATEST EVENTS GOES HERE!!!! */
.event_page{
    width: Hug (1,552px);
    height: Hug (737px);
    gap: 64px
}
h2{
    font-family: Space Grotesk;
    font-size: 48px;
    font-weight: 500;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: center;
    color:#FFFFFF;
}
.section{
    width: Fixed (350px);
    height: Hug (592px);
    gap: 16px;
}
img{
    width: 350px;
    height: 265px;
    border-radius: 19.59px, 19.59px, 0px, 0px;
}
.tech_section{
    width: Fill (350px);
    height: Hug (36px);
    gap: 89px;
}
.tech_section button{
    width: Hug (53px);
    height: Hug (36px);
    padding: 8px;
    border-radius: 32px;
    gap: 10px;
}
.tech_section time{
    font-family: Space Grotesk;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: right;
}
.title_on_lastest {
    font-family: Space Grotesk;
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.information_on_lastest {
    font-family: Space Grotesk;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
.explore_highlights div {
    width: Hug (172px);
    height: Hug (52px);
    padding: 16px;
    border-radius: 24px;
    gap: 10px;
}
.explore_highlights p {
    font-family: Space Grotesk;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}
.coding_section{
    width: Hug (370px);
    height: Hug (572px);
    padding: 10px;
    gap: 10px;
}
.coding_section p {
    font-family: Space Grotesk;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}
.code_learn_more {
    width: Hug (119px)
    height: Hug (52px)
    padding: 16px
    border-radius: 24px
    gap: 10px
}
.code_learn_more button{
    font-family: Space Grotesk;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}
.python_section{
    width: Hug (370px);
    height: Hug (580px);
    padding: 10px;
    gap: 10px;
}
.python_learn_more{
    width: Hug (119px);
    height: Hug (52px);
    padding: 16px;
    border-radius: 24px;
    gap: 10px;
    
}
.python_learn_more button{
    background-color:#FF7B1B
    

}


/* LATEST EVENT ENDS HERE!!!! */

/* PAST EVENTS GOES HERE!!!! */
.past-events h3 {
    font-size: 48px;
    text-align: center;
    padding: 24px 0px
}

.swiper_container {
    display: flex;
    flex-wrap:nowrap; 
    justify-content: center
}

.card {
    width: 320px; 
    height: 320px; 
    padding: 20px;
    text-align: left;
    transition: transform 0.3s
}

.card img {
    width: 320px
}

.card:hover {
    transform: scale(1.1)
}

.card_info {
    text-align: left;
    font-size: 16px;
    color: #E6DFF3
}

.card_title {
    font-size: 24px;
    padding: 8px 0px
}

a {
    text-decoration: none;
    color: white
}

/* button */
.button {
    background-color: #FF7B1B;
    padding: 16px;
    border-radius: 24px; 
    color: white;
    text-align: center;
    width: 80px;
    height: 20px;
    margin-top: 32px
}
/* PAST EVENT ENDS HERE!!!! */
