/* ======================== CSS file for projects.html ======================== */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
   background-color: #062F3D;
}

/* Hero Section */
.container {
    display: flex;
    align-items: center; /* Centered content vertically */
    background-color:rgb(244, 109, 12);
    width: 90%;
    height: 70%;
}

.content {
    flex: 1; /* Grow to fill available space */
    padding: 1px; /* Added some spacing for the content */
}

.image {
    flex: 1; /* Grow to fill available space */
    padding: 1px; /* spacing for the image */
    text-align: center; /* Centered the image horizontally */
}

/* Recent Projects Section */
.recent{
    font-size: 50px;
    color:#fff;
    margin-top: 120px;
    text-align: center;

}
.container-recent{
    margin-left: 50px;
    margin-top: 20px;
    display: flex;
    overflow: scroll;
    overflow:visible;
    margin-bottom: 200px;
}
.recent-img{
    width:420px;
    height:290px;
    padding:10px;
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.recent-text{
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
    color: white;
}
.recent-p{
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
    color: white;
}
.recent-button{
    margin-top: 52px;
    margin-left: 50px;
    font-size: 19px;
    padding: 20px 60px;
    border-radius: 50px;
    background-color: #FF7B1B;
    color: #fff;
    border-style: none;
}

.recent-butto{
    margin-top: 30px;
    font-size: 19px;
    margin-left: 70px;
    padding: 20px 90px;
    border-radius: 50px;
    background-color: #FF7B1B;
    color: #ffffff;
    border-style: none;
}